<h2>Ketju: {{ header }}</h2>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <strong>{{ message }}</strong> 
{% endfor %}
</ul>
{% endif %}
{% endwith %}
{% if count == 0 %}
<p>Tässä ketjussa ei ole vielä yhtään viestiä</p>
{% else %}
Viestien määrä: {{count}}
<hr>
{% for message in messages %}
<i>Viesti: </i> {{ message[0] }}
<p>
<i>Lähetäjä: </i> {{ message[1] }}
<p>
<i>Aika: </i> {{ message[2].strftime("%Y-%m-%d %H:%M:%S") }}
<p>
<i>Tykkäykset: </i> {{ get_likes(message[4]) }}
{% if session.user_id %}
<form action="/like/{{message[4]}}" method="post">
    <input type="submit" value="Tykkää (works)">
</form>
<button onclick="addLike({{message[4]}})">like (does not work) </button>
{% endif %}
<p>
{% if session.user_id == message[3] %}
<a href="/updatemsg/{{message[4]}}">Muokkaa</a>
{% endif %}
<hr>
{% endfor %}
{% endif %}
{% if session.user_id %}
<a href="/newmessage/{{chain_id}}">Lähetä uusi viesti</a>
{% endif %}
<p>
<a href="/topicarea/{{t_id}}">Aihealueelle</a>
<p>
<a href="/">Etusivulle</a>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    function addLike(id) {
        $.ajax({
            method: "POST",
            url: "{{url_for('testlike')}}",
            contentType: 'application/json;charset=UTF-8',
            data: {'data':id}
        })
    }
</script>