<h1>8-chain Etusivu</h1>
<hr>
{% for topic in topics %}
<i>Aihe:</i> <b>{{ topic[1] }}</b>
<p>
{% if topic[2] == 0 %}
<p>Tälle aiheelle ei ole vielä ketjuja.</p>
{% else %}
<i>Ketjuja: </i> {{ topic[2] }}
{% endif %}
<p>
{% if topic[3] == 0 %}
<p>Tälle aiheelle ei ole vielä viestejä.</p>
{% else %}
<i>Viestejä: </i> {{ topic[3] }}
<p>
<i>Viimeisin: </i> {{ get_latest(topic[0]).strftime("%Y-%m-%d %H:%M:%S") }}
{% endif %}
<p>
<a href="/topicarea/{{topic[0]}}">Siirry alueelle</a>
<hr>
{% endfor %}
<a href="/search">Haku</a>
<p></p>
{% if session.user_id %}
Olet kirjautunut sisään.
<a href="/newtopic">Luo uusi aihe</a> | <a href="/logout">Kirjaudu ulos</a>
{% else %}
<a href="/login">Kirjaudu sisään</a>
{% endif %}
