<form action="/sendmessage" method="post" onsubmit="return check(this)">
Viesti: <br>
<textarea name="content" rows="3" cols="40"></textarea>
<br>
<input type="submit" value="Lähetä">
</form>
<a href="/chainarea/{{chain_id}}">Takaisin</a>
<script>
    function check(form) {
        if (!form.content.value) {
            alert("Viesti ei voi olla tyhjä")
            return false
        }
        if (form.content.value.length < 3) {
            alert("Viestin täyyy olla vähintään 3 merkkiä pitkä")
            return false
        }
        if (form.content.value.length > 3000) {
            alert("Viesti on liian pitkä")
            return false
        }
        return true
    }
</script>
