<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">


<h3>Lähetä uusi viesti</h3>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <strong>{{ message }}</strong> 
{% endfor %}
</ul>
{% endif %}
{% endwith %}
<form action="/sendmessage" method="post" onsubmit="return check(this)">
Viesti: <br>
<textarea name="content" rows="3" cols="40"></textarea>
<p>
<input type="submit" value="Lähetä">
<input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
</form>
<a href="/chainarea/{{chain_id}}">Takaisin</a>
<script>
    function check(form) {
        if (!form.content.value) {
            alert("Viesti ei voi olla tyhjä")
            return false
        }
        if (form.content.value.length < 3) {
            alert("Viestin täyyy olla vähintään 3 merkkiä pitkä")
            return false
        }
        if (form.content.value.length > 3000) {
            alert("Viesti on liian pitkä")
            return false
        }
        return true
    }
</script>
