<h3>Luo uusi aihe</h3>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <strong>{{ message }}</strong> 
{% endfor %}
</ul>
{% endif %}
{% endwith %}
<form action="/sendtopic" method="POST" onsubmit="return check(this)">
Aihe: <br>
<textarea name="topicname" rows="1" cols="30"></textarea>
<p>
<input type="radio" name="secret" value="false"> Avoin
<input type="radio" name="secret" value="true"> Salainen
<p></p>
<input type="submit" value="Lähetä">
<input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
</form>
<a href="/">Takaisin</a>
<script>
    function check(form) {
        if (!form.topicname.value) {
            alert("Aihe ei voi olla tyhjä")
            return false
        }
        if (form.topicname.value.length < 3) {
            alert("Aiheen täyyy olla vähintään 3 merkkiä pitkä")
            return false
        }
        if (form.topicname.value.length > 100) {
            alert("Aihe on liian pitkä")
            return false
        }
        return true
    }
</script>