<h2>Aihealue: {{ header }}</h2>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <strong>{{ message }}</strong> 
{% endfor %}
</ul>
{% endif %}
{% endwith %}
{% if count == 0 %}
<p>Tälle aiheelle ei ole vielä ketjuja</p>
{% else %}
<hr>
{% for chain in chains %}
<i>Otsikko:</i> <b>{{ chain[1] }}</b>
<p>
<i>Luonut: </i> {{ chain[2] }}
<p>
<i>Luotu: </i> {{ chain[3].strftime("%Y-%m-%d %H:%M:%S") }}
<p>
<a href="/chainarea/{{chain[0]}}">Siirry ketjuun</a>
<p></p>
{% if session.user_id == chain[4] or session.admin == true %}
<a href="/updatechain/{{chain[0]}}">Muokkaa</a> | <a href="/delchain/{{chain[0]}}">Poista</a>
{% endif %}
<hr>
{% endfor %}
{% endif %}
{% if session.user_id %}
<a href="/newchain/{{topic_id}}">Luo uusi ketju</a>
{% endif %}
<p>
<a href="/">Etusivulle</a>